<!-- () permet de recuperer les données extérieures (Evénements)
[] permet de rentrer des données à l'intérieur du component (Attributs)-->
<app-modal 
    *ngIf="confirmation.status"
    (onCancel)="modalCancel()"
    (onConfirm)="modalConfirm()"
    [content] = "modal_message"
></app-modal>




<div class="container" (click)="cancel($event)">
   
    <app-note *ngFor="let note of notes ; index as position" 
              [usednote] = "note"
              [usedposition] = "position"
              (onDelete) = "deleteNote($event)"
              (onEdit)= "editNote($event)"
    ></app-note>
    
    <!-- <div *ngFor="let note of notes ; index as position" class="note">
        <span (click)="editNote(note)" class='edit'>E</span>
        <span (click)="deleteNote(position)" class='remove'>X</span>
        <h3>{{ note.title }}</h3>
        <p>{{ note.content }}</p>
        <p> <i> {{ note.date | date:'dd/MM/yyyy HH:mm:ss' }} </i> </p>
    </div> -->

</div>

<div id="form">

    <label>
        <span> Title </span>
        <input type="text" [(ngModel)] = "current_note.title" (keydown)="submit($event)"/>
    </label>
    <label>
        <!-- $event permet de recuperer l'evenement
        Si on ne met pas le $, angular va chercher une variable 'event'
        dans le HTML. -->
        <span> Content </span>
        <input type="text" [(ngModel)] = "current_note.content" (keydown)="submit($event)"/>
    </label>
    <button (click)="actionNote()"> {{ mode() }} </button>

</div>